environment:
  matrix:
    - nodejs_version: "4"
    - nodejs_version: "5"
install:
  - ps: Install-Product node $env:nodejs_version x64
  - npm install
test_script:
  - node --version
  - npm --version
  - npm test
build: off
